
/* -------------------------------------------------------
                     phone & tablet 
-------------------------------------------------------- */

@media (max-width: 767px){

	.navbar-default .navbar-toggle{
		background: none;
		margin-top: 30px;
		border: none;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus
	{
		background: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background: 	 rgb(0, 183, 207);

	}	
	.navbar-default .navbar-collapse{
		text-align: center;
		border: none;
		margin-top: 25px;
		padding: 35px 50px;
		border-radius: 5px;
	}

	.left-item{
		background: rgba(0, 150, 177, 0.26);
		transition: 0.8s ease-in-out;
	}
	.left-item:hover{
		background: rgba(0, 150, 177, 0.473);
	}
	.caption h2 {
		color: rgb(0, 206, 206);
		display: inline-block;
		margin: 0 0 0 15px;
		font-weight: 600;
		padding-right: 20px;
		font-size: 37px;
	}
	.busy {
		color: #ffffff !important;
		font-size: 30px !important;
	}
	.caption span {
		font-weight: 100;
		font-size: 43px;
		color: #ffffff;
	}
	
	.mob-btn-nav{
		top: 30px !important;
	}
	.tona-header, .particle{
		background-position: 50% 0% !important;
		background-attachment: scroll !important;
	}
	.left-item,.bg-overlay{
		background: linear-gradient(-145deg, rgba(0, 124, 146, 0.308), rgba(0, 71, 80, 0.308));
	}

	.mb-2 {
		color: #ffffff;
	}

	.btn-mol-r {
		border: 1.5px solid #fff;
		color: white;
	}
	.btn-mol-r:hover {
		border: 1.5px solid #032c3381;
		color: white;
	}
	.caption{
		text-align: center;
		margin-left: 0;
	}

	.caption h1{
		font-size: 35px;
	}

	.caption h2,
	.caption span
	{
		font-size: 40px;
	}

	.hero .hero-item h4{
		font-size: 20px;
	}

	.hero-img,
	.skill-items,
	.num-items,
	.rel-img
	{
		margin-bottom: 80px;
	}

	.clients .client-say{
		padding: 100px 20px;
	}

	.portfolio .filtering span{
		padding: 0 15px 0 10px;
	}

	.blog .to-blog p{
		letter-spacing: 2px;
	}

	.side-bar{
		padding: 20px;
		margin: auto 15px;
	}

	.comment .com-post.tona-com{
		padding-left: 0;
	}
}

@media (max-width: 991px){

	.portfolio .item-img{
		width: 100%;
	}

	.blog .post{
		margin-bottom: 30px;
	}
}